*{
    margin: 0;
    padding: 0;
    color: #272525;
    list-style: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    z-index: -1;
}
#logo{
    width: 185px;
    height: 95px;
    background-image: url(/imgs/logo.svg);
    background-repeat: no-repeat;
    background-size: 300px 100px;
    background-size: cover;
    position: relative ;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    background-color: rgb(137, 182, 184);
    height: 50px;   
    width: 100%;    
}

.menu ul{
   display: flex;
   text-align: center; 
   align-items: center;
   padding-right: 100px;
}
.menu .logo {
    padding-left: 75px;

}
.menu .logo p{
    text-align: center;
}
.logo > *{
    color: #323232;
    
}

.menu p{
    font-size: 18px;
    padding-left: 20px;
}
.menu li{
    
    font-size: 18px;
    
}
li a{
    padding: 10px;
    border-radius: 5px;
    color: #272525;
    text-decoration: none;
}
.menu a:hover{
    background-color: rgb(53, 71, 95);
    color:#cecece;
    text-decoration: none;
}

.bg-image{
    /* position: relative; */
    
    padding: 20px 75px;
    max-width: 100%;
    height: 400px;  
    
    background-image: url("programming.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    
    
}
h2{
    font-size: 28px;
    color: white;
    
}
.container{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    font-weight: bold;
    border: 3px solid rgb(236, 228, 228);;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
}
.container > *{
    color: rgb(236, 228, 228);
    font-weight: bold;
}
.container p{
    width: 60%;
    font-size: 18px;
    margin: 15px auto;
    
}

#project{
    height: 500px;
    background-color: rgb(34, 44, 56);
    
}
.container-project{
    
    
    display: block;
    height: 250px;
    
    
}
.container-project ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}
.container-project ul li img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
}
.container-project > *{
    
    text-align: center;
}
.container-project h2{
    padding-top: 70px;
    color:#cecece;
}
.container-project i{
    color: #000;
    font-size: 30px;
}
.container-slider{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 80%;
    justify-content: center;
}
footer{
    height: 150px;
    max-width: 100%;
    background-color: rgb(137, 182, 184);
    
    
}
.footer{
    
    margin: 0 auto;
    width: 60%;
    
    padding-top: 20px;
    
}
             
.footer .contato, .footer h2{
    color: #121212;
    margin-right: 10px;
    font-size: 26px;
    
    
}
.container-footer > *{
    text-align: center;
}
i
{
    font-size: 26px;
    margin: 5px;
    color: #121212;
    
}

.footer img{
    width: 25px;
    height: 25px;
    margin: 10px 5px;
    border-radius: 5px;
    
}
.footer img:hover{

    cursor: pointer;
}

footer a{
    
    color: #272525;
    text-decoration: none;
}
i:hover{
    cursor: pointer;
}
footer i:hover{
    color: #323232;
}

@media (max-width: 770px) {
    .menu ul{
        padding-right: 20px;
    }
    .menu .logo{
        padding-left: 50px;
    }
    .container{
        width: 80%;
        max-height: 265px;
        top: 55%;

    }
    .container p{
        width: 100%;
    }
    .container-slider ul li img{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 500px) {
    .menu .logo{
        padding-left: 0px;
        height: 40px;
    }
    .menu{
        display: grid;
        height: 80px;
        justify-content: center;
    }
    .logo{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    #logo{
        bottom: 19px;
    }
    .menu p{
        font-size: 14px;
    }
    .menu ul{
        padding-right: 0px;
        
    }
    .menu li{
        font-size: 16px;
        padding: 10px 0px;
        
    }
    
    .container{
        max-height: 320px;
        /* top: 110%; */
        
    }
    #project{
        height: 300px;
    }
    .container-project h2{
        padding-top: 55px;
    }
    .container-slider{
        margin-top: 30px;
        max-width: 100%;
    }
    .container-slider ul{
        margin-right: 15px;
    }
    .container-slider ul li{
        margin: 0 5px;
    }
    .container-slider ul li img{
        /* width: 100px;
        height: 100px; */
        width: 100%;
        height: 100%;
    }
}